  #headColumn{
 
background: url("images/main_head.png")   no-repeat ;
height:100px;
width:100%;


  } 



body {

	
	margin:5px;
	border:0px;
	height:auto;
	width:100%;
	background-color:#545250;



}

#header_wrapper{
width:100%;
padding:0px !important;
margin:0px !important;
text-align:center;
/*background-color:red;*/



}




.main_content
{
	width: 1026px;
	
	min-height:30px;
	height: auto!important;
	height:50px;
	
	background-image: url("images/main_content_bg.png");
	background-repeat: repeat-y;
	background-position: left top;
	/*background-color:green;		*/
}


#img.source-image {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}


dl.tabs dd a{
font-size:12px;
padding-right:10px;
padding-left:10px;
}



.liNews
{
list-style-type:square;
}


.col1 { width: 60px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

	.box {

			margin-left:5px;/* 10px 10px 10px ;*/
			margin-right:5px;
			margin-top:5px;	
			float: left;
			background-color: #fff;
			border: 1px solid #b4bbcd;
			min-height: 5px;
			text-align: justify;
			word-wrap: break-word;
			  -webkit-border-radius: 5px;
	     -moz-border-radius: 5px;
          border-radius: 5px;
		}
	
.titleImportant{
background-image:url(images/icnImportant.png)  ;
			         background-repeat: no-repeat;
        background-position: left top;
		padding-left:28px;
         color:#881b00;
}


#usefulWebsite {
background: #3F3F3F;
padding: 20px 30px 0;
}